<div class="active-scaffold">
  <div class="create-view view">

<h4>Send Message to Users</h4>
<% form_for :message, :url => { :action => 'send_message' } do |f| %>
Select Roles:<br/>
<% @roles.each do |role| %>
  <%= check_box_tag "role[#{role.flag}]" %> <%= role.name %><br/>
<% end %>
Message:<br/>
<%= text_area_tag :content, nil, :rows=>25, :cols=>50%>
<br/>

<%= submit_tag "Send" %> or <%= link_to "Cancel", :action => 'list' %>
<% end %>

</div>
</div>
