<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
                <meta http-equiv="Content-type" content="text/html; charset=utf-8" />           
                <title>NOTS:  <%= controller.controller_name.titleize %> Administration</title>
                <%= stylesheet_link_tag "default.css" %>
                <%= javascript_include_tag :defaults %>
                <%= calendar_date_select_includes :blue %>
                <%= active_scaffold_includes %>
        </head>

<body>

<div id="overlay" style="display: none;">
  <div id="subform">
  </div>
</div>

<%= image_tag('logo.jpg') %><br/>


<% if logged_in? %>
<% cache(:controller => 'task', :action => 'menu', :user_id => this_user.id) do %>
  <%= render :partial => 'shared/menu' %>
<% end %>


<div id="actions" class="user-menu" >
  <ul>
    <li><%= link_to "Logout (#{session[:user]})", :controller => '/user', :action => 'logout' %></li>
    <li><%= link_to_remote "Set Default", :url => { :controller => '/user', :action => 'set_default', 
                               :a => controller.action_name, :c => controller.controller_path } %></li>
  </ul>
</div>

<% if ENV['RAILS_ENV']=='development' %>
<h4>Development Environment</h4>
<% end %>

<% if flash[:notice] or flash[:error] %>
<div id="flash">
  <%= render_flash %>
</div>
<% end %>

<div id="related-tasks">
  <form name="jump">
  <%= render_related_tasks %>
  </form>
</div>

<% end %>

  <%= yield  %>

</body>
</html>

